.navbar-custom {
    background-color: white; /* Fundo branco */
    border-bottom: 1px solid #ddd; /* Borda inferior leve */
  
    .navbar-brand .logo {
      width: 120px; /* Ajustar o tamanho do logo */
    }
  
    .navbar-nav .nav-link {
      color: #333; /* Cor dos links */
      margin-right: 15px; /* Espaçamento entre os links */
      display: flex;
      align-items: center; /* Centralizar verticalmente */
  
      &:hover {
        color: #007bff; /* Cor dos links ao passar o mouse */
      }
    }
  
    .navbar-toggler {
      border-color: rgba(0, 0, 0, 0.1); /* Cor do botão do menu em dispositivos móveis */
    }
  
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Ícone de hambúrguer */
    }
  
    .navbar-collapse {
      justify-content: flex-end; /* Alinhar links à direita */
    }
  }
  