.container_dashboard {
    background-color: #f8f9fa; /* Cor de fundo cinza claro */
    padding: 20px;
    border-radius: 8px;
  }
  
  .header_dashboard {
    font-size: 2rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  