.about-us {
    padding: 40px 0;
    background-color: #f6f6f6;
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  
      .special-heading {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 40px; // Aumentar o espaço abaixo do título
        font-weight: bold;
        color: #333;
        position: relative;
        animation: fadeInDown 1s ease;
  
        // Adicionar um efeito de destaque
        &:after {
          content: '';
          position: absolute;
          width: 50%;
          height: 4px;
          background: #3498db;
          left: 50%;
          bottom: -10px;
          transform: translateX(-50%);
        }
      }
  
      p {
        font-size: 1.1rem;
        line-height: 1.8;
        margin-bottom: 20px;
        color: #555;
        text-align: justify;
      }
  
      .card-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 40px;
  
        .card {
          background: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 20px;
          text-align: center;
          width: calc(40% - 20px);
          margin: 10px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
  
          display: flex;
          flex-direction: column;
          align-items: center; // Centraliza os itens horizontalmente
          justify-content: center; // Centraliza os itens verticalmente
  
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
          }
  
          img {
            width: 80%;
            height: auto;
            border-radius: 50%;
            margin-bottom: 15px;
            transition: transform 0.3s ease;
  
            &:hover {
              transform: scale(1.1);
            }
          }
  
          h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            color: #333;
            transition: color 0.3s ease;
  
            &:hover {
              color: #3498db;
            }
          }
        }
      }
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  