.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
  
    .special-heading {
      text-align: center;
      margin-bottom: 40px;
    }
  
    .services-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 30px;
    }
  
    .col {
      display: flex;
      flex-direction: column;
    }
  
    .srv {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
  
      i {
        color: var(--main-color);
        margin-right: 15px;
      }
  
      .text {
        h3 {
          margin-bottom: 10px;
          font-size: 1.2rem;
        }
  
        p {
          margin-bottom: 10px;
          font-size: 0.9rem;
          line-height: 1.5;
        }
      }
    }
  }
  