.footer {
    background-color: #f8f9fa; /* Cor de fundo clara */
    padding: 20px 0; /* Espaçamento vertical */
    text-align: center;
    margin: 0; /* Remover margens */
    position: relative;
    bottom: 0;
    width: 100%;
  
    h5 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  
    p {
      margin-bottom: 0.5rem;
    }
  
    .social-icons {
      a {
        color: white; /* Ícones brancos */
        font-size: 1.5rem;
        margin: 0 10px;
        transition: color 0.3s;
  
        &:hover {
          color: #007bff; /* Cor dos links ao passar o mouse */
        }
      }
    }
  
    @media (max-width: 768px) {
      .social-icons {
        margin-top: 20px;
      }
    }
  }
  